<h1> Songs </h1>

<!-- not passing test because test is looking for non-link_to method -->
<!-- <ul>
<% @songs.each do |song| %>
<li> <%=link_to song.artist_name, artist_path(song.artist)%> - <%=link_to song.title, song_path(song)%> </li>
<%end %>
</ul>

 -->

 <ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        <%= song.artist_name %>
        -
        <%= song.title %>
      </a>
    </li>
  <% end %>
</ul>
